html,body {
    background-image:url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.profileUD{
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.profileUD label       { text-align:right; }
div.profileUD label:after { content: ":"; }

.student_card{
    border-width:3px; 
    width: 600px;
    height: 400px;
    border-style:solid; 
    border-color:#FF0000;
    margin: auto;
    display: table;
}
.card_info{
    display: table-row;
}
.navbar-brand {
    font-size:50px;
    color:red !important;
    font-weight:bold;
}
.nav.navbar-nav li a {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:white !important;
    background:transparent;
    box-shadow:none;
    border:0;
}
.navbar.navbar-inverse {
    background:transparent;
    box-shadow:none;
}
.title{
    color: red
}
.box{
    width: 420px;
    height: 350px;
    padding: 10px;
    border: 3px solid red;
    margin: 0;
}
label {
    display: inline-block;
    
}
#student_id{
    display: table-cell
}
#card-name{
    color: white;
    font-size: 20px;
}
#help_info{
    display: table-cell;
    color: white;
    font-size: 15px;
}
#help_me{
    top: 200%;
    bottom: 0;
}
#deleteProfileBtn{
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    font-size: 50%;
    color: red;
    cursor: pointer;
}

#logoutButton{
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    font-size: 50%;
    color: red;
    cursor: pointer;
}
#updateProfileBTN{
    position: absolute;
    color: black;
    background-color: white;
    /* left: 300px;
    top: 545px; */
}

#year{
    position: absolute;
    color:black
}

#description_box{
    position: absolute;
    color: black;
}

#email{
    position: absolute;
    left: 680px;
    top: 525px;
    color: black;
}

#card-courses{
    position: relative;
    
}
.dropdown {
    position: relative;
    display: inline-block;
    zoom: 2;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: red;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 7px;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    right: 9px;
}
#profileTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    background-color: white;
  }
  
  #profileTable th, #profileTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #profileTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
