
html,body {
    background-image:url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
/* p{
    border-width:3px; 
    width: 300px;
    height: 300px;
    border-style:solid; 
    border-color:#FF0000;
} */
.student_card{
    border-width:3px; 
    width: 500px;
    height: 400px;
    border-style:solid; 
    border-color:#FF0000;
    margin: auto;
}
.navbar-brand {
    font-size:50px;
    color:red !important;
    font-weight:bold;
}
.nav.navbar-nav li a {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:white !important;
    background:transparent;
    box-shadow:none;
    border:0;
}
.navbar.navbar-inverse {
    background:transparent;
    box-shadow:none;
}
.title{
    color: red;
    font-size : 30px;
}

h3{
    color: white
}


  /* Style the sidenav links and the dropdown button */
.dropdown-btn {
    
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 10%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }

  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    width: 60px;
    font-size: 16px;

}
  
#wrapper {
    border: 1px solid black;
    width: 100%;


}
#left_nav_bar{
    float: left;
    color:red;
    width: 15%;
    background-color: #111;
    height: 1000px;
    
}
.vid-container{
    
    text-align: center;
    float: left;
    width: 90%;
    border: 1px solid green;

    
}
