html,body {
    background-image:url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}
.student_card{
    border-width:3px; 
    width: 600px;
    height: 345px;
    border-style:solid; 
    border-color:#FF0000;
    margin: auto;
    display: table;
}
.card_info{
    display: table-row;
}
.navbar-brand {
    font-size:50px;
    color:red !important;
    font-weight:bold;
}
.nav.navbar-nav li a {
    font-size:20px;
    font-family:Arial, Helvetica, sans-serif;
    color:white !important;
    background:transparent;
    box-shadow:none;
    border:0;
}
.navbar.navbar-inverse {
    background:transparent;
    box-shadow:none;
}
.title{
    color: red
}

#student_id{
    display: table-cell
}
#card-name{
    color: white;
    font-size: 20px;
}
#help_info{
    display: table-cell;
    color: white;
    font-size: 15px;
}
#help_me{
    top: 200px;
    bottom: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
    zoom: 2;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    color: red;
    background-color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 7px;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    right: 9px;
}

#tutee_search{
    position: absolute;
    left: 600px;
    top: 150px;
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
  }
  
form.example button {
    float: left;
    padding: 10px;
    background: red;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
  
form.example button:hover {
    background: #0b7dda;
}
  
form.example::after {
    content: "";
    clear: both;
    display: table;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 1px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
    background-color: white;
  }
  
  #myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
  }
  
  #myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
  }
  
